@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;

  background-color: #97cae8;

  padding: 60px 0 60px 0;
}

.chat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;

  width: 437px;
  height: 100%;

  position: relative;

  overflow: hidden;
}

.messages {
  padding: 12px 2px 12px 16px;
  background-color: #fff;

  outline: 1px solid #dce1e5;
  border-radius: 4px 4px 0 0;

  overflow: auto;
}

.messages__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  height: 100%;

  padding-right: 8px;

  overflow: auto;

  scroll-behavior: smooth;
  scrollbar-color: #dae2ea transparent;
  scrollbar-width: thin;
}
.messages__list:hover::-webkit-scrollbar-thumb {
  background-color: #dae2ea;
}

.messages__list::-webkit-scrollbar {
  width: 6px;
}
.messages__list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: transparent;
}
.messages__list::-webkit-scrollbar-thumb:hover {
  background-color: #d1dae2;
}

.messages__list .messages__messeges-group:last-child .messeges-group .messeges-group__message:last-child {
  margin-bottom: 0;
}
.messages__messeges-group {
  display: flex;
  flex-direction: column;
}
.messeges-group {
  width: 75%;
}
.messeges-group--user {
  align-self: flex-end;
}

.messeges-group__message {
  margin-bottom: 10px;
  display: flex;
}
.messeges-group--participant .messeges-group__message {
  justify-content: flex-start;
}
.messeges-group--user .messeges-group__message {
  justify-content: flex-end;
}
.messeges-group--participant {
  align-self: flex-start;
}

/* Message Styles */
.message {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;

  width: fit-content;
  align-items: flex-end;
  justify-items: flex-end;
  gap: 8px;
}

.message__text {
  line-height: 17px;
}
.message__img {
  width: 100%;
  height: 100%;

  border-radius: 6px;
}
.message__time {
  line-height: 17px;
  font-size: 13px;
  color: #99a2ad;
}

/* Chat Styles */
.chat__messages {
  position: relative;
  z-index: 10;
}
.chat__input {
  position: relative;
  z-index: 20;
}
.chat-footer {
  width: 437px;
  height: 62px;
  padding: 13px 16px;

  border: 1px solid #dce1e5;
  border-radius: 0 0 4px 4px;

  background-color: #fafbfc;
}
.chat-input {
  width: 405px;
  height: 36px;

  padding: 9.5px 12px;

  outline: 1px solid #d3d9de;
  border-radius: 6px;

  position: relative;
  overflow: auto;
}
.chat-input::placeholder {
  color: #828282;
}
